@media(min-width: 303px) {
    #catimg{
        height: 303px;
        width: 303px;
        border-style: solid;
        border-color: black;
        background-color: aqua;
        background-image: url('cat2.png');
    }
}
@media(min-width: 425px) {
    #catimg{
        height: 303px;
        width: 425px;
        border-style: solid;
        border-color: black;
        background-color: aqua;
        background-image: url('cat1.png');
    }
}
